In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
url = "https://scraping-for-beginner.herokuapp.com/udemy"

In [4]:
r = requests.get(url)

In [6]:
soup = BeautifulSoup(r.text,'html.parser')

In [8]:
#soup

In [11]:
name = soup.select('.card-title')[0].string
name

'今西 航平'

In [25]:
n_subscribers = soup.select('.subscribers')[0].string
n_reviews = soup.select('.reviews')[0].string

In [26]:
n_subscribers = int(n_subscribers.split('：')[1])
n_subscribers

12130

In [37]:
n_reviews = int(n_reviews.split('：')[1])
n_reviews

2116

In [38]:
results = {
    'name':name,
    'n_subscribers':n_subscribers,
    'n_reviews':n_reviews
}

In [39]:
results

{'name': '今西 航平', 'n_subscribers': 12130, 'n_reviews': 2116}

In [40]:
import pandas as pd

In [41]:
df = pd.read_csv('assets/data.csv')

In [42]:
df.head()

        date  subscribers  reviews
0  2019/1/17         2671      194
1  2019/1/18         2671      195
2  2019/1/19         2674      197
3  2019/1/20         2685      199
4  2019/1/21         2695      199

In [43]:
df.tail()

         date  subscribers  reviews
751  2021/2/5        10753     1820
752  2021/2/6        10753     1824
753  2021/2/7        10756     1824
754  2021/2/8        10776     1826
755  2021/2/9        10796     1831

In [44]:
import datetime

In [51]:
date = datetime.datetime.today().strftime('%Y/%-m/%-d')

In [52]:
subscribers = results['n_subscribers']
reviews = results['n_reviews']

In [53]:
subscribers

12130

In [54]:
reviews

2116

In [57]:
results = pd.DataFrame([[date,subscribers,reviews]],columns=['date','subscribers','reviews'])
results

        date  subscribers  reviews
0  2021/6/16        12130     2116

In [59]:
df = pd.concat([df,results])
df.tail()

          date  subscribers  reviews
752   2021/2/6        10753     1824
753   2021/2/7        10756     1824
754   2021/2/8        10776     1826
755   2021/2/9        10796     1831
0    2021/6/16        12130     2116

In [60]:
df.to_csv('assets/data.csv',index=False)

-Udemyから情報をとってくる関数('get_udemy_info)



-CSVに書き込む関数('write_data')

In [63]:
def get_udemy_info():
    url = "https://scraping-for-beginner.herokuapp.com/udemy"

    r = requests.get(url)

    soup = BeautifulSoup(r.text,'html.parser')

    name = soup.select('.card-title')[0].string

    n_subscribers = soup.select('.subscribers')[0].string
    n_subscribers = int(n_subscribers.split('：')[1])

    n_reviews = soup.select('.reviews')[0].string
    n_reviews = int(n_reviews.split('：')[1])

    results = {
        'name':name,
        'n_subscribers':n_subscribers,
        'n_reviews':n_reviews
    }

    return results

In [64]:
def write_data():
    df = pd.read_csv('assets/data.csv')

    #新規のデータ
    _results = get_udemy_info()

    #書き込むデータ
    date = datetime.datetime.today().strftime('%Y/%-m/%-d')
    subscribers = _results['n_subscribers']
    reviews = _results['n_reviews']

    results = pd.DataFrame([[date,subscribers,reviews]],columns=['date','subscribers','reviews'])

    df = pd.concat([df,results])

    df.to_csv('assets/data.csv',index=False)